@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/* shared style */
.display-flex{
    display: flex;
}
.primary-btn{
    background-color: rgb(224, 44, 109);
    color: white;
    width: 196px;
    height: 44px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
   
}
.btn{
    border-radius: 30px;
}
.primary-btn i{
    margin-left: 10px;
}
section, footer{
    margin-top: 100px;
}

/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.navbar p{
    color:rgb(58, 58, 58);
    font-size: 1.5rem;
font-weight: 700;
line-height: 36px;
}
.nav-form {
    justify-content: space-between;
    gap: 30px;
    
}
.nav-form li{
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(58, 58, 58);
    
}
.nav-form a{
    text-decoration: none;
}
/* header section style */
.header, .main{
    margin: 0 120px;
}

.header-content{
    width: 582px;
    height: 270px;
}

.header-content h1{
    font-size: 3.25rem;
    font-weight:700 ;
    color: rgb(58, 58, 58);
}
.header-content p{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(58, 58, 58);
    margin-bottom: 15px;
}

.header-image img{
    margin-left: 130px;
    background-image: url(../images/images.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 440px;
height: 414px;
}

.social-media{
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid rgb(167, 160, 160);
    border-bottom: 1px solid rgb(149, 144, 144);
    padding: 40px 60px;

}

/* main section style */
.main-container{
   max-width: 1040px; 
height: 1662px;
/* margin: 0 auto; */

}
.main-container .title{
    margin-bottom: 30px;
    font-size: 1.75rem;
    text-align: center;
    color: rgb(58, 58, 58);
    margin-top:100px ;
}

.main-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
   
}

.content-title{
    width: 329px;
height: 476px;
border-radius: 5px;
padding-left: 14px;

box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
}

.content-title img{
    width: 300px;
height: 256px;
border-radius: 5px;
padding-top: 17px;

}
.content-title h3{
    font-size: 1.75rem;
    font-weight: 700;
}
.content-title h4{
    font-size: 1.5rem;
    font-weight: 400;
}
.content-title p{
    font-size: 0.87rem;
    font-weight: 700;
    margin-top: 25px;
}
.main-button{
    position: relative;
    left: 850px;
    color: rgb(224, 44, 109);
    background-color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;

}
/* main feature section style */
.feature-section{
    width: 1110px;
height: 270px;
margin: 0 auto;
justify-content: space-between;
}
.feature-content img{
    border-radius: 7px;
    width: 404px;
height: 270px;
}

.feature-content{
    width: 610px;
height: 224px;

}
.feature-content h2{
    color: rgb(10, 8, 38);
    font-weight: 700;
    font-size: 2.37rem;

}
.feature-content p{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(108, 108, 108);
    margin: 15px 0;
}

/* footer section style start */

.footer-section{
    max-width: 1440px;
    height: 206px;
    background-color: black;
}
.footer-content{
    margin: 0 auto;
    padding-top:40px ;
    text-align: center;
    color: white;
   

}
.footer-title{
    font-weight: 700;
    font-size: 1.5rem;
}
.footer-description{
    font-weight: 300;
    font-size: 0.87;
}
.footer-icon{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    margin-left: 44%;   
}

.footer-icon a{
    color: white;
}



/* mobile responsive */

@media screen and (max-width: 576px) {
    .nav-form, .navbar, .header-container{
        flex-direction: column;
    }
    
    .header, .main{
        margin: 10px;
    }
    .header-content h1{
        text-align: center;
        font-size: 2rem;
    }
    .header-content p{
        text-align: center;
        font-size: 1rem;
    }
    .btn{
        margin-left: 90px;
    }

    .header-content{
        width: auto;
        height: 200px;
        margin-bottom: 100px;
    }
    .header-image img{
        margin-left:0;

    }
    .social-media{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .main-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: auto;
        height: auto;
    }
    
    .feature-content{
        width: 500px;
    }
    .feature-section{
        flex-direction: column;
        height: auto;
    }
    .feature-section img{
        width: 400px;
    }
.footer-section {
    width: 500px;
}
.main-container{

    height: auto;
}
.feature-content{
    width: 500px;
}
.feature-content h2{
    font-size: 1.5rem;
    width: 300px;
    text-align: center;
    
}
.feature-content p{
    font-size: 0.87rem;
    width: 300px;
    text-align: center;
}
.main-button {
    position: relative;
    left: 20px;
    margin-bottom: 50px;
}

}

    
